<h2>
    listwalk for '<%= @keyword.keyword %>'
    <small><%= @keyword.count %></small> hits
</h2>

<% @playlist.each do |cover| %>
<img src="<%= cover.album.images.third['url'] %>">
<% end %>

<% @playlist.each do |track| %>
    <li>
        <a href="<%= track.uri %>">Play</a>
        <%= track.name %>
        <small>by <%= track.artists.first.name %></small>
    </li>
<% end %>